#footer {
    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.25));
    background-color: $footer-background;
    height: $footer-height;
    margin-top: 3em;
}

.footer--copyright {
    margin: 0;
    padding: 20px 0;
}
