body, html {
    background-color: #FFF;
    color: $typography--color;
    font-family: $typography--sans-serif;
    letter-spacing: 0.1px;
    height: 100%;
}

a {
    color: $color--links;
    &:visited {
        color: $color--links-visited;
    }
}

.gist {
    font-size: 0.75em;
}

.title--indent {
    @media only screen and (max-width: $breakpoint--medium-end){
        &::before {
            display: none;
        }
    }
    &::before {
        content: "// ";
        color: $color--primary;
    }
}

.row.site-wrapper {
    [class*="col-"] {
        text-align: left;
    }
}

.divider {
    border: none;
    border-bottom: 2px solid $color--primary;
    clear: both;
    margin: 2em 0;
}
