$meta-color: lighten($text-color, 20%);

article {

  blockquote {
    @extend .clearfix;
    border-left: 2px solid $primary-color;
    color: lighten($text-color, 15%);
    font-size: 1.25em;
    font-style: italic;
    padding-left: 15px;

    footer {
      float: right;
      font-size: 0.8em;
      strong::after {
        content: " \2014 ";
      }
    }
  }

  .tags {
    @extend .inline;
    display: inline;
    li {
      margin-right: 2px;
      &::after {
        content: ",";
      }
      &:last-child::after {
        content: "";
      }
      a {
        color: $meta-color;
        text-decoration: none;
        &:hover {text-decoration: underline;}
      }
    }
  }

  .meta {
    $meta-color: $site-background;
    font-size: 12px;
    padding: 0 0 5px;
    > time {
      margin-right: 20px;
    }
  }

  // Blog listings, index page
  &.listing {
    margin-bottom: 20px;
    h1 {
      margin-bottom: 0;
      a {
        color: $title-color;
        text-decoration: none;
      }
    }
    .entry-content {
      margin: 10px 0;
    }
    + hr {
      border: none;
      border-bottom: 1px solid $primary-color;
    }
  }

  &.post {
    @media only screen and (max-width: $palm-end){
      .tags {
        clear: both;
        margin-top: 7px;
      }
    }
    h1 {
      margin-bottom: 0;
    }
    .meta {
      border-bottom: 1px solid $primary-color;
      margin-bottom: 20px;
    }
  }
}