.btn {
  @include gradient-vertical(lighten($blue, 3%), $blue);
  border: 1px solid darken($blue, 3%);
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  color: $white;
  font-size: 0.85em;
  line-height: 2em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

  &:hover, &:focus {
    @include gradient-vertical(lighten($blue, 3%), darken($blue, 3%));
    color: $white;
  }

  &:focus { text-decoration: underline; }

  &:active {
    @include gradient-vertical(darken($blue, 3%), darken($blue, 10%));    
    box-shadow: inset 0 0 3px darken($blue, 20%);
  }

  &.btn-block { display: block; }
}

@if $use-gridfix == true{
  .grid {
    letter-spacing: -1rem;
  }

  /* Opera hack */
  .opera:-o-prefocus,
  .grid {
    word-spacing: -1rem;
  }

  .grid__item {
    letter-spacing: normal;
    word-spacing: normal;
  }
}

.grid-wrapper {
  margin: auto;
  max-width: $site-width;
  padding: 0 25px;
}

.grid-center {
  text-align: center;
  > .grid__item {
    text-align: left;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.color-division {
  border: none;
  border-bottom: 2px solid $blue;
}

.unstyled {
  list-style-type: none;
  margin: 0;
}

.divided {
  @extend .unstyled;

  li {
    border-top:    1px solid $white;
    border-bottom: 1px solid darken($grayLighter, 7%);
    padding: 0.5em 0;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    &:last-child {border-bottom: none;}
  }
}

body {
  background-color: $site-background;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover, &:focus {
    color: darken($link-color, 15%);
    text-decoration: underline;
  }
}

.indent {
  &::before {
    color: $blue;
    content: "//";
    font-size: 1.2em;
    margin-right: 15px;
  }

  .test & {
    border-bottom: 1px solid $blue;
  }
}