{% if site.delicious_user %}
<section class="col-xs-12 col-sm-6 col-md-12">
    <h1 class="h3">
        Delicious
        <small class="pull-right">
            <a class="btn" href="//delicious.com/{{ site.delicious_user }}" title="@{{ site.delicious_user }} on Delicious" target="_blank">
                <i class="fa fa-external-link"></i>
            </a>
        </small>
    </h1>
    <div id="delicious">
        <span class="loading">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>
</section>
{% endif %}
