{% if site.pinboard_user %}
<section id="pinboard" class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
    <h1>
        My Pinboard
        <small class="pull-right">
            <a class="btn" href="//pinboard.in/u:{{ site.pinboard_user }}" title="My Pinboard Bookmarks" target="_blank">
                <i class="fa fa-external-link"></i>
            </a>
        </small>
    </h1>
    <ul class="divided" id="pinboard_linkroll">
        <li class="loading">
            <i class="fa fa-spinner fa-spin"></i>
        </li>
    </ul>
</section>
{% endif %}
