{% unless site.oscailte.social.visible == false %}
<section class="social col-xs-12 col-sm-6 col-md-12">
    <h1>
        {% if site.oscailte.social.title %}{{ site.oscailte.social.title }}{% else %}Follow me!{% endif %}
    </h1>
    <ul class="unstyled">
        {% if site.oscailte.social.adn %}<li><a class="adn" rel="me" href="//alpha.app.net/{{ site.oscailte.social.adn }}"><i class="fa fa-adn"></i> App.net</a></li>{% endif %}
        {% if site.oscailte.social.coinbase %}<li><a class="coinbase" href="//coinbase.com/{{ site.oscailte.social.coinbase }}"><i class="fa fa-btc"></i> Coinbase</a></li>{% endif %}
        {% if site.oscailte.social.dribbble %}<li><a class="dribbble" href="//dribbble.com/{{ site.oscailte.social.dribbble }}"><i class="fa fa-dribbble"></i> Dribbble</a></li>{% endif %}
        {% if site.oscailte.social.facebook.user %}<li><a class="facebook" href="//facebook.com/{{ site.oscailte.social.facebook.user }}"><i class="fa fa-facebook-square"></i> Facebook</a></li>{% endif %}
        {% if site.oscailte.social.github.user %}<li><a class="github" href="//github.com/{{ site.oscailte.social.github.user }}"><i class="fa fa-github"></i> Github</a></li>{% endif %}
        {% if site.oscailte.social.googleplus %}<li><a class="googleplus" href="//plus.google.com/{{ site.oscailte.social.googleplus }}"><i class="fa fa-google-plus-square"></i> Google+</a></li>{% endif %}
        {% if site.oscailte.social.hackernews %}<li><a class="hackernews" href="//news.ycombinator.com/user?id={{ site.oscailte.social.hackernews }}"><i class="fa fa-hacker-news"></i> Hacker News</a></li>{% endif %}
        {% if site.oscailte.social.keybase %}<li><a class="keybase" href="//keybase.io/{{ site.oscailte.social.keybase }}"><i class="fa fa-key"></i> Keybase</a></li>{% endif %}
        {% if site.oscailte.social.linkedin %}<li><a class="linkedin" href="//linkedin.com/in/{{ site.oscailte.social.linkedin }}"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>{% endif %}
        {% if site.oscailte.social.pinterest %}<li><a class="pinterest" href="//pinterest.com/{{ site.oscailte.social.pinterest }}"><i class="fa fa-pinterest"></i> Pinterest</a></li>{% endif %}
        {% if site.oscailte.social.reddit %}<li><a class="reddit" href="//reddit.com/user/{{ site.oscailte.social.reddit }}"><i class="fa fa-reddit"></i> reddit</a></li>{% endif %}
        {% if site.oscailte.social.stackoverflow %}<li><a class="stackoverflow" href="//stackoverflow.com/users/{{ site.oscailte.social.stackoverflow }}"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>{% endif %}
        {% if site.oscailte.social.twitter.user %}<li><a class="twitter" href="//twitter.com/{{ site.oscailte.social.twitter.user }}"><i class="fa fa-twitter"></i> Twitter</a></li>{% endif %}
        {% if site.oscailte.social.youtube %}<li><a class="youtube" href="//youtube.com/user/{{ site.oscailte.social.youtube }}"><i class="fa fa-youtube"></i> YouTube</a></li>{% endif %}
    </ul>
</section>
{% endunless %}
