<div class="hero" style="background-image: url('/images/dublin_docklands.jpg');">
    <div class="grid-wrapper">
        <div class="grid flex">
            <div class="grid__item flex__item two-fifths palm-one-whole avatar">
                <img class="gravatar" src="/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
            </div>
            <div class="grid__item flex__item three-fifths palm-one-whole">
                <h1>{{ site.author }}</h1>
                <hr>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                </p>
            </div>
        </div>
    </div>

    <div class="credit">
        <p>
            Dublin Docklands, by <a href="http://www.flickr.com/photos/leinsterman/529719759/" target="_blank">leinsterman</a>
        </p>
    </div>
</div>
