nav {
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
      padding: 0;
    }
  }
  a {
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    padding: 0 15px;

    &:hover {
      background-color: $blue;
      color: $white;
      text-decoration: none;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
    }
  }
}