.recent-posts {
  li {
    border-top:    1px solid $white;
    border-bottom: 1px solid darken($grayLighter, 7%);
    padding: 0.5em 0;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    &:last-child {border-bottom: none;}
  }
}
