{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include site/head.html %}

    <body {% if page.body_id %} id="{{ page.body_id }}"{% endif %}>

        {% include site/header.html %}

        {% if page.hero_unit %}
            {% include site/hero_unit.html %}
        {% endif %}

        <div class="row">
            {% if page.is_post and page.sidebar == false %}
            <div class="col-xs-12 col-lg-9">
            {% elsif page.is_homepage %}
            <div class="col-xs-12">
            {% else %}
            <div class="col-xs-12 col-lg-8">
            {% endif %}

                {{ content | expand_urls: root_url }}

            </div>

            {% unless page.sidebar == false %}
            <aside id="sidebar" class="col-xs-12 col-lg-4">
                {% include site/sidebar.html %}
            </aside>
            {% endunless %}
        </div>

        <footer>
            {% include site/footer.html %}
        </footer>

        {% include javascripts/scripts.html %}

    </body>

</html>
