{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include site/head.html %}

    <body {% if page.body_id %} id="{{ page.body_id }}"{% endif %}>

        {% include site/header.html %}

        <div id="main-content">

            {% include site/upgrade.html %}

            {% if page.hero_unit %}
                {% include site/hero_unit.html %}
            {% endif %}

            <div class="row top-xs center-sm center-md center-lg site-wrapper">
                {% if page.is_post and page.sidebar == false %}
                <div class="col-xs-12 col-lg-10">
                {% elsif page.is_homepage %}
                <div class="col-xs-12">
                {% elsif page.is_page and page.sidebar == false %}
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                {% else %}
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
                {% endif %}
                    {{ content | expand_urls: root_url }}
                </div>

                {% unless page.sidebar == false %}
                <aside class="sidebar col-xs-12 col-md-4 col-lg-4">
                    {% include site/sidebar.html %}
                </aside>
                {% endunless %}
            </div>
        </div>

        {% include site/footer.html %}

        {% include javascripts/scripts.html %}

    </body>

</html>
