{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>

  <header>
    {% include site/header.html %}
  </header>

  {{ content | expand_urls: root_url }}

  <footer class="main">
    {% include site/footer.html %}
  </footer>

  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  {% include site/scripts.html %}

</body>
</html>