<header>
  {% if index %}
  <h1 class="gamma">{{ post.title }}</h1>
  {% else %}
  <h1 class="indent">{{ page.title }}</h1>
  {% endif %}

  {% unless page.meta == false %}
  <div class="meta">
    {% include blog/post/date.html %}
    {% unless index %}
      {% include blog/post/tags.html %}
    {% endunless %}
  </div>
  {% endunless %}
</header>

{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}

{% if index %}
  {% if excerpted == 'true' %}
    {{ content | excerpt }}
  {% endif %}
  <footer>
    <a class="btn" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  </footer>
{% else %}
  {{ content }}
{% endif %}