{% capture pub_date %}{{ page.date_text }}{{ post.date_text }}{% endcapture %}
{% capture pub_date_xml %}{{ page.date_xml }}{{ post.date_xml }}{% endcapture %}
{% capture has_pub_date %}{{ pub_date | size }}{% endcapture %}
{% capture updated_date %}{{ page.date_updated_text }}{{ post.date_updated_text }}{% endcapture %}
{% capture was_updated %}{{ updated_date | size }}{% endcapture %}

{% if has_pub_date %}
    <time class="article__date pull-left" datetime="{{ pub_date_xml }}" pubdate{% if was_updated != '0' %} title="Last updated: {{ updated_date }}"{% endif %}><i class="fa fa-calendar"></i> {{ pub_date }}{% if was_updated != '0' %} <sup>*</sup>{% endif %}</time>
{% endif %}


