{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
    <div class="article__tags pull-left">
        <i class="fa fa-tags"></i>
        <ul class="unstyled">
        {% if post %}
            {% for item in post.categories %}
                <li>{{ item | category_link }}</li>
            {% endfor %}
            {% else %}

            {% for item in page.categories %}
                <li>{{ item | category_link }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
{% endunless %}
