:root {
  --highlighter-background: #fff;
  --highlighter-color: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlighter-background: #333;
    --highlighter-color: #fff;
  }
}
  
code.highlighter-rouge {
  background-color: var(--highlighter-background);
  border: 1px solid;
  border-radius: 3px;
  color: var(--highlighter-color);
  padding: 0 .15em;
}