html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
  line-height: var(--typography-base-lh);
  overflow-y: scroll;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
