.aside-module {
  @media only screen and (min-width: $desk-start){
    &:first-child {
      .title {margin-top: 0;}
    }
  }
  .title {
    border-bottom: 1px solid $blue;
    color: $grayDark;
    margin: 1em 0 0.5em;
    padding-bottom: 5px;

    .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      text-decoration: none;
    }
  }
}