.leading-image {
  min-height: 220px;
  z-index: -1;

  @media only screen and (max-width: $palm-end){
    display: none;
  }

  @media only screen and (min-width: $lap-start){
    + .grid-wrapper header {
      @include gradient-vertical($white, $site-background);
      background-color: $site-background;
      margin: -6em -1em 1em;
      padding: 1em;
      position: relative;

      &::after {
        @include border-radius(0 0 15px 15px);
        @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        background-color: $red;
        content: "";
        display: block;
        position: absolute;
          top: 0; right: 0; bottom: 7px; left: 0;
        z-index: -1;
      }
    }
  }

}

article.post {

  @media only screen and (max-width: $palm-end){
    h1 {
      border-bottom: 1px solid $blue;
      &::before {
        display: none;
      }
    }
    .tags {
      display: none;
    }
  }


  header {
    margin-bottom: 2em;
  }

  .meta {
    font-size: 0.9em;
    time {
      border-bottom: 1px dotted $grayLight;
      cursor: help;

      &::before {
        font-family: "FontAwesome";
        content: "\f073";
        margin-right: 7px;
      }
    }
  }

  .tags {
    > li {
      display: inline-block;
      &::after {
        content: ", ";
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}