#sidebar {
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid $blue;
    color: $grayDark;
    margin: 1em 0 0.5em;
    padding-bottom: 5px;
  }
  .social {
    ul {
      @include content-columns(2, 10px);
    }
  }

  @media only screen and (min-width: $desk-start){
    section:first-child {
      h3 {margin-top: 0;}
    }
  }
}