.footer {
    box-shadow: 0 -5px 4px -6px rgba(#000, 0.25);
    background-color: $footer--background;
    min-height: $footer--min-height;
    padding: 1.25rem 0;
    width: 100%;
}

.footer__copyright {
    margin: 0;
}

@media only screen and (max-width: $breakpoint--xsmall-end){
    .footer__copyright {
        margin-bottom: 1rem;
    }
}
