#header {
    background-color: $header--background;
    box-shadow: 0 0 3px rgba(#000, 0.25);
    position: relative;
    z-index: 2;
}

a.site-title {
    color: $header--title-color;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2.5;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.menu {
    float: right;
}
