.hero {
    background-color: $hero--background;
    background-position: 0 30%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border-bottom: 1px solid lighten($site--background, 10%);
    color: $hero--color;
    font-weight: bold;
    margin: -1.5rem 0 1.5rem;
    padding: 4rem 0;
    position: relative;
    z-index: 1;

    &::before {
        background: url("../images/matrix.png") 0 0 rgba(#000, 0.35);
        box-shadow: inset 0 0 5px #000;
        content: "";
        display: block;
        position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
    }

    .row {
        position: relative;
        z-index: 2;
    }

}

.hero__gravatar {
    border-radius: 100%;
    border: 10px solid $color--primary;
    margin: auto;
}

.hero__title {
    font-size: 3.5rem;
    line-height: 1;
    margin: 0;
    @if lightness($hero--color) > 40% {
        text-shadow: 2px 2px 0 rgba(#000, 0.75);
    }
}

.hero__subtitle {
    display: block;
    font-size: 0.35em;
    line-height: 1.5;
}

.hero__text {
    margin-top: 0;
    @if lightness($hero--color) > 40% {
        text-shadow: 1px 1px 0 rgba(#000, 0.75);
    }
    small {
        color: $gray--lighter;
        font-size: 0.65rem;
    }
}

.hero__divider {
    @if lightness($hero--color) > 40% {
        box-shadow: 1px 1px 0 rgba(#000, 0.75);
    }
    @extend .divider;
    margin: 1rem 0;
}

.hero__credit {
    font-size: 0.75rem;
    font-style: italic;
    position: absolute;
    bottom: 0; right: 10px;
    z-index: 7;
    a {
        border-bottom: 1px solid;
        color: $hero--color;
        text-decoration: none;
    }
}
.hero__licence {
    border: none;
}
