.usp {
    text-align: center;

//    @media only screen and (min-width: $lap-start) and (max-width: $lap-end){
//        margin-bottom: 25px;
//    }

    .icon {
        i {
            border: 10px solid $blue;
            border-radius: 100%;
            color: $grayDarker;
            display: inline-block;
            font-size: 6em;
            height: 1.85em;
            line-height: normal;
            padding: 0.3em;
            width: 1.85em;
        }
    }

    .title {
        color: $grayDarker;
        font-size: 1.1em;
        line-height: 3em;
        margin: 0;
        text-align: center;
        text-transform: capitalize;

        + hr {
            margin: 0;
            margin-bottom: 1em;
        }
    }

    hr {
        @extend .divider;
        margin-bottom: 1em;
    }

    p {
        text-align: left;
    }
}
