$meta-color: lighten($typography--color, 20%);

.article {

    blockquote {
        @extend .clearfix;
        border-left: 2px solid $color--primary;
        color: lighten($typography--color, 15%);
        font-family: $typography--serif;
        font-size: 1.25em;
        font-style: italic;
        padding-left: 15px;

        footer {
            float: right;
            font-family: $typography--sans-serif;
            font-size: 0.8em;

            strong::after {
                content: " \2014 ";
            }
            a {
                text-decoration: underline;
            }
        }
    }

    .pullquote-left::before,
    .pullquote-right::before {
        @media only screen and (max-width: $breakpoint--xsmall-end){
            border-top:    1px dotted $color--primary;
            border-bottom: 1px dotted $color--primary;
            display: block;
            margin: 0 0 1.5rem 0 !important;
            padding: 1em 0.5em;
            width: auto;
        }
        border: medium none;
        color: $color--primary;
        content: "\201C" attr(data-pullquote) "\201D";
        font-family: $typography--serif;
        font-size: 1.4em;
        font-style: italic;
        line-height: 1.45em;
        padding: 0;
        position: relative;
        width: 45%;
    }
    .pullquote-left::before {
        float: left;
        margin: 0 1.5em 0.5em 0;
    }
    .pullquote-right::before {
        float: right;
        margin: 0 0 0.5em 1.5em;
    }

    img {
        border: 0.5em solid #FFF;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
        &.right {
            float: right;
            margin: 0 0 10px 20px;
        }
        &.left {
            float: left;
            margin: 0 20px 10px 0;
        }
    }
}

.article__title {
    font-family: $post--title-font;
}

.article__tags {
    ul {
        @extend .inline;
        li {
            margin-right: 2px;
            &::after {
                content: ",";
            }
            &:last-child::after {
                content: "";
            }

            a {
                color: $meta-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
@media only screen and (max-width: $breakpoint--small-end){
    .article__tags {
        clear: both;
        margin-top: 7px;
    }
}

.article__meta {
    $meta-color: $site--background;
    font-size: 0.85rem;
    padding: 0.5rem 0;
    > time {
        margin-right: 20px;
    }
}

// Blog listings, index page
.article--index,
.article--archive {
    .article__title {

        margin-bottom: 0;
        a {
            color: $post--title-color;
            text-decoration: none;
        }
    }
    .article__content {
        margin: 0 0 10px;
    }
    + hr {
        @extend .divider;
        border-bottom-width: 1px;
        margin: 1rem 0;
    }
}

.article--single {
    .article__title {
        @extend .title--indent;
        margin-bottom: 0;
        @media only screen and (min-width: $breakpoint--small-end){
//            padding-left: 1em;
            &::before {
                margin-left: -1em;
            }
        }
    }
    .article__meta {
        border-bottom: 1px solid $color--primary;
        margin-bottom: 20px;
    }
}

.article--archive {
    .article__title {
        line-height: 1.25;
    }
    .article__date {
        margin-top: 0.5rem;
    }
}


.disqus__title {
    @extend .title--indent;
}
