{% capture category %}{{ post.categories | size }}{% endcapture %}

<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <time class="article__date article__date--listing" datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>
            {{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>"}}
        </time>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <h1 class="article__title h3"><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
        {% if category != '0' %}
            <footer class="article__meta">
                {% include blog/post/tags.html %}
            </footer>
        {% endif %}
        <hr class="divider">
    </div>

</div>
