
{% if site.oscailte.hire.footer-cols != 0 and site.oscailte.hire.visible.footer and site.oscailte.hire.message %}
    {% capture hireVisible %}true{% endcapture %}
    {% capture rightCol %}{{ site.oscailte.hire.footer-cols }}{% endcapture %}
{% else %}
    {% capture hireVisible %}false{% endcapture %}
    {% capture rightCol %}0{% endcapture %}
{% endif %}

{% capture leftCol %}{{ 12 | minus: rightCol }}{% endcapture %}

<footer class="footer">
    <div class="row middle-xs">
        {% if leftCol != "0" %}
        <div class="col-xs-12 col-sm-{{ leftCol }} col-md-{{ leftCol }} col-lg-{{ leftCol }}">
            {% include custom/footer.html %}
        </div>
        {% endif %}
        {% if hireVisible == "true" %}
        <div class="col-xs-12 col-sm-{{ rightCol }} col-md-{{ rightCol }} col-lg-{{ rightCol }}">
            <div>{% include custom/hire.html %}</div>
        </div>
        {% endif %}
    </div>
</footer>
