<!--[if lte IE 9]>
<div class="row upgrade-row">
    <div class="col-lg-12">
        <div class="upgrade">
            <i class="upgrade__icon fa fa-warning"></i>
            <h1 class="upgrade__title h6">Ohnoes!</h1>
            <p class="upgrade__text">
                Unfortunately, this site won't display correctly on your version of Internet Explorer!<br>
                If possible, you should consider <a href="http://browsehappy.com/">upgrading your browser</a>.
            </p>
        </div>
    </div>
</div>
<!-- <![endif]-->
