// Grays
// -------------------------
$gray--darker:  #222 !default;
$gray--dark:    #333 !default;
$gray:          #555 !default;
$gray--light:   #999 !default;
$gray--lighter: #eee !default;


// THEME COLOUR VARIABLES
// ----------------------
$color--primary:       #049CDB !default;
$color--text:          $gray--darker !default;
$color--links:         $color--primary !default;
$color--links-visited: #660099 !default;
$site--background:     #F5F5F5 !default;
$context--positive:    #5AD42F !default;
$context--negative:    #D4372F !default;


// TYPOGRAPHY VARIABLES
// --------------------
$typography--font-size:     16px !default;
$typography--line-height:   22px !default;
$typography--color:         $gray--darker !default;
$typography--serif:         'Droid Serif', Georgia, 'Times New Roman', Times, serif !default;
$typography--sans-serif:    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$typography--base-family:   $typography--sans-serif !default;
$heading--font-family:      $typography--base-family !default;
$heading--h1:               36px !default;
$heading--h2:               30px !default;
$heading--h3:               24px !default;
$heading--h4:               20px !default;
$heading--h5:               18px !default;
$heading--h6:               16px !default;


// GRID VARIABLES
// ----------------
$breakpoint--xsmall-end: 48em !default;
$breakpoint--small-end:  62em !default;
$breakpoint--medium-end: 75em !default;
$grid--max-width:        64em !default;


// HEADER VARIABLES
// ----------------
$header--background:  #FFF !default;
$header--title-color: $gray--darker !default;


// NAVIGATION VARIABLES
// --------------------
$navigation--background: $header--background !default;
$navigation--color:      $color--primary !default;


// FOOTER VARIABLES
// ----------------
$footer--background: $header--background !default;
$footer--min-height: 3rem !default;


// HERO UNIT VARIABLES
// -------------------
$hero--background: $gray--darker !default;
$hero--color:      #FFF !default;


// UNIQUE SELLING POINT VARIABLES
// ------------------------------
$homepage--usp-color: $typography--color !default;


// POST VARIABLES
// --------------
$post--title-color: $color--primary !default;


// SYNTAX VARIABLES (Code Highlighting)
// ----------------
$syntax--background:    #212A26 !default;
$syntax--gutter:        lighten($syntax--background, 5%) !default;
$syntax--01:            #93a1a1 !default;
$syntax--02:            #75715e !default;
$syntax--03:            #66d9ef !default;
$syntax--04:            #ae81ff !default;
$syntax--05:            #f8f8f2 !default;
$syntax--06:            #f92672 !default;
$syntax--07:            #e6db74 !default;
$syntax--08:            #a6e22e !default;
$syntax--diff-comment:  #75715e !default;
$syntax--diff-inserted: #f92672 !default;
$syntax--diff-deleted:  #a6e22e !default;


// BUTTON VARIABLES
// ----------------
$button--default:     $color--primary !default;
$button--color:       #FFF !default;
$button--text-shadow: true !default;
$button--positive:    $context--positive !default;
$button--negative:    $context--negative !default;


// HIRE VARIABLES
// --------------
$hire--available:   $context--positive !default;
$hire--unavailable: $context--negative !default;


// Social network colors
// Organised in a key-value pair list for dynamic SASS
// Can be infinitely extended by adding more as required
// -------------------------
$sites:
    adn           #4A484C,
    coinbase      #3380D0,
    dribbble      #EA4C89,
    facebook      #3B5998,
    github        #333333,
    googleplus    #db4a39,
    hackernews    #FF6600,
    keybase       #FF8648,
    linkedin      #4875b4,
    pinterest     #CC2127,
    reddit        #5F99CF,
    stackoverflow #FE7A15,
    twitter       #00a0d1,
    youtube       #CC181E;
