---
layout: page
title: "This is the title for your homepage"
date: 2013-08-16 23:48
comments: true
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
---

<div class="row">
    <div class="col-xs-12 col-lg-4 usp">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-12">
                <span class="icon"><i class="icon-laptop"></i></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-12">{% include custom/grid_item_left.html %}</div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4 usp">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-12">
                <span class="icon"><i class="icon-search"></i></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-12">{% include custom/grid_item_middle.html %}</div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4 usp">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-12"><span class="icon"><i class="icon-coffee"></i></span></div>
            <div class="col-xs-12 col-sm-8 col-lg-12">{% include custom/grid_item_right.html %}</div>
        </div>
    </div>
</div>
