---
layout: page
title: "This is the title for your homepage"
date: 2013-08-16 23:48
comments: true
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
---

<div class="row top-xs">
    <div class="col-xs-12 col-lg-4">
        <div class="row usp">
            <div class="col-xs-12 col-sm-4 col-lg-12">
                <span class="usp__icon"><i class="fa fa-laptop"></i></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-12">{% include custom/homepage/grid_item_left.html %}</div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="row usp">
            <div class="col-xs-12 col-sm-4 col-lg-12">
                <span class="usp__icon"><i class="fa fa-search"></i></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-12">{% include custom/homepage/grid_item_middle.html %}</div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="row usp">
            <div class="col-xs-12 col-sm-4 col-lg-12">
                <span class="usp__icon"><i class="fa fa-coffee"></i></span>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-12">{% include custom/homepage/grid_item_right.html %}</div>
        </div>
    </div>
</div>
